[gui]
	recentrepo = C:/_Dev/symphony
[core]
	autocrlf = true
	excludesfile = C:\\Users\\hangjit.rai\\Documents\\gitignore_global.txt
	editor = vim
[user]
	name = Hangjit Rai
	email = hangjit.rai@adslot.com
[mergetool "bc3"]
	path = C:/Program Files (x86)/Beyond Compare 3/bcomp.exe
[merge]
	tool = bc3
[diff]
	guitool = kdiff3
[difftool "kdiff3"]
	path = C:/Program Files (x86)/KDiff3/kdiff3.exe
[alias]
    ch = checkout
    br = branch
    rb = rebase
    mt = mergetool
    cm = commit
    st = status
    ps = push
    pl = pull




